.bg-decoration {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: unset; }

.bg-decoration__svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 134%;
  height: auto; }

.gradient-box {
  background-image: linear-gradient(to bottom right, #0f7087, #d9167e, #440641); }

.inner-box {
  background: #fff;
  padding: 2rem; }
